TELEGRAM_BOT_TOKEN=your_token_from_botfather
RUNPOD_API_KEY=rpa_...
RUNPOD_ENDPOINT_ID=uupefx2whvkg13
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
AWS_S3_BUCKET=frankfurt-splats-bucket
AWS_S3_REGION=eu-central-1
